/*Contact sectiom*/
.content-header{

  font-family: 'Oleo Script', cursive;
  color:#fcc500;
  font-size: 45px;
}

.section-content{

  text-align: center; 

}

.branding-logo {
        vertical-align: baseline !important;
}

.contact{
     margin-top: 20%;
      padding-top: 60px;
  width: 100%;
  width: 100vw;
  height: 550px;
  background: #3a6186; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3a6186 , #89253e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3a6186 , #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color : #fff;    
}
.contact-section{

  padding-top: 40px;
}
.contact-section .col-md-6{
  width: 50%;
}

.form-line{
  border-right: 1px solid #B29999;
}

.form-group{
  margin-top: 10px;
}
label{
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}
.form-control{
  font-size: 1.3em;
  color: #080808;
}
textarea.form-control {
    height: 135px;
   /* margin-top: px;*/
}

.submit{
    margin-right: 10px;
  font-size: 1.1em;
  float: left;
  background-color: transparent;
  color: #fff;

}


.footer-1-3 {
	padding-top: 40px;
	padding-bottom: 10px;
    background:#333;
}

.footer-1-3 .brand-img {
	width: 130px;
}

.footer-1-3 .social {
	margin-top: 20px;
}

.footer-1-3 .address-bold-line {
	font-weight: 700;
	margin: 0;
	color: #ffffff;
}

.footer-1-3 .address{
	color: #ffffff;
}
.footer-1-3 .footer-text {
	border-top: #ecf0f1 2px solid;
	margin-top: 0px;
    padding-top:10px;
    color:#fff;
}
.footer-1-3 .footer-text  a{
	color:#00a3ff;
     text-align:left;
}
.footer-1-3 .footer-text  svg{
	 fill: #fff;;
     text-align:left;
}


.footer-1-3 .footer-text p {
	color: #ecf0f1;
	
}

.footer-img{
    width: 200px;
}

.digit-container
{
    border: solid 3px;
    padding-bottom:20px;
       
}.digit-container h3
{
    font-size:60px;
        font-weight:700
}
.digit-container span
{
    font-size:25px;
        font-weight:600
        

}
.digit-container :hover,.digit-container .pg-state-hover
{
    border: solid 3px;
    padding-bottom:20px;
        position: relative;
top: 0px;
-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


canvas.particles-js-canvas-el {
    width: 100%;
height: 100%;
top: 0;
position: absolute;
    background:url()
    
}

/*	HEADER 2
/*----------------------------------------------------*/#header-2
{
    width: 100%;
    position: relative;
    z-index: 999;
}

#header-2 .brand-img
{
    float: none;
    margin: 13px auto;
    text-align: center;
    max-width: 150px;
}

#header-2 .navbar-toggle
{
    margin-right: 0;
    margin-top: 0;
    background: none;
    position: absolute;
    right: 20px;
    top: 30px;
    border: none;
}

#header-2 .navbar-toggle:focus,#header-2 .navbar-toggle.pg-state-focus
{
    outline: none;
}

#header-2 .navbar-toggle .icon-bar
{
    background-color: #999;
    height: 3px;
}

#header-2 .navbar-toggle:hover .icon-bar,#header-2 .navbar-toggle.pg-state-hover .icon-bar
{
    background-color: #3498DB;
}#header-2 .navbar-fixed-top {
background-color: #fff;
border-color: #fff;
 box-shadow: 0 1px 2px rgba(0, 0, 0, .3);



}

#header-2 .navbar-fixed-top .navbar-collapse
{
    max-height: inherit;
    border-top: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ffffff;
}

#header-2 .main-nav .nav
{
    margin-top: 25px;
}

#header-2 .main-nav .navbar-nav > li a
{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    color: #666;
    background: none;
}

#header-2 .main-nav .navbar-nav > li.active a
{
    color: #3498DB;
}


#header-2 .main-nav .navbar-nav > li a:hover,#header-2 .main-nav .navbar-nav > li a.pg-state-hover
{
    color: #3498DB;
}

#header-2 .main-nav .navbar-nav > li a:focus,#header-2 .main-nav .navbar-nav > li a.pg-state-focus
{
    outline: none;
}

#header-2 .main-nav .nav .dropdown-menu
{
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin: 0;
    border: none;
    text-transform: none;
    min-width: 180px;
    background: #3E606F;
}

#header-2 .main-nav .nav .dropdown-menu a
{
    padding: 8px 20px;
    color: #666;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

#header-2 .main-nav .nav .dropdown-menu a:hover,#header-2 .main-nav .nav .dropdown-menu a.pg-state-hover
{
    background: #3498DB;
    color: #fff;
}

/* Override bootstrap default */

#header-2 .main-nav .nav .open > a,
#header-2 .main-nav .nav .open > a:hover,
#header-2 .main-nav .nav .open > a:focus,#header-2 .main-nav .nav .open > a.pg-state-hover,#header-2 .main-nav .nav .open > a.pg-state-hover,#header-2 .main-nav .nav .open > a.pg-state-focus
{
    background: none;
}

/*	Header 2 MEDIA QUERIES
/*----------------------------------------------------*/

/* Small Devices, Tablets */

@media only screen and (min-width : 768px)

{   

       
    #header-2 .main-nav .nav .dropdown-menu
    {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        margin: 0;
        border: none;
        text-transform: none;
        min-width: 180px;
        background: #3E606F;
    }
    #header-2 .main-nav .nav .dropdown-menu:before
    {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #3E606F;
        position: absolute;
        right: 35px;
        top: -10px;
    }
    #header-2 .main-nav .nav .dropdown-menu a
    {
        padding: 8px 20px;
        color: #fff;
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
    }
    #header-2 .main-nav .nav .dropdown-menu a:hover,#header-2 .main-nav .nav .dropdown-menu a.pg-state-hover
    {
        background: #193441;
        color: #fff;
    }
}



@media only screen and (min-width : 992px){



}

/* Large Devices, Wide Screens */

@media only screen and (min-width : 1200px){


}


 /* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
        .contact-section .col-md-6{
  width: 100%;
}


    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

        #header-2 .brand-img{
            float: left;
            padding-left: 5%
        }
        .contact{
              padding-bottom: 100px;

        }
        .form-line{
  border-right: none;
}

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
        

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {

    }


/*	PROMO BLOCK 3
/*----------------------------------------------------*/.promo-3 {
background: 
    linear-gradient(
      rgba(0, 152, 255, 0.95), 
        rgba(0, 152, 255, 0.65), 
       rgba(0, 152, 255, 2)
    ),    url(https://np.okfn.org/files/2014/05/IMG_20140517_110039.jpg);

	    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    padding: 240px 0;
    
}.promo-3 .container  {
   width: 80%;
    color:#fff;
}.promo-3 h1 {
    font-size: 60px;
    color: #ffffff;
    margin-bottom:40px;
    font-weight:400;
 
}.promo-3 h2 {
    margin-bottom:40px;
    font-weight: 400;
    color: #ffffff;
}

.promo-3 a {
    margin-top: 40px;
}





/*	CONTENT BLOCK 2-7
/*----------------------------------------------------*/.content-2-7 {
    background:#29A5DA;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.content-2-7 .counter-icon {
    font-size: 5em;
    color: #ffffff;
}

.content-2-7 .counter, .content-2-7 .counter-text {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #fff;
}

.content-2-7 .counter-text {
    font-size: 20px;
}

.content-2-7 .counter {
    font-size: 44px;
    color: #fff;
}

.content-2-7 .underlined-title h1, .content-2-7 .underlined-title h2 {
    color: #fff;
}



/*	CONTENT BLOCK 3-6
/*----------------------------------------------------*/
.content-3-6 .feature-box {
    margin: 20px 0;
    padding: 35px 30px;
    text-align: center;
    padding-bottom: 60px;
background: white;
box-shadow: 0 2px 3px rgba(0, 0, 0, 0.34);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
}

.content-3-6 .icon:hover,.content-3-6 .icon.pg-state-hover {
    margin: 0 auto;
    border: #00a8ff solid 3px;;
    text-align: center;
    color: #00a8ff;
    font-size: 60px;
    height: 100px;
    width: 100px;
    line-height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
}
.content-3-6 .icon {
    margin: 0 auto;
    border: #00a8ff solid 3px;;
    text-align: center;
    color: #00a8ff;
    font-size: 60px;
    height: 100px;
    width: 100px;
    line-height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
}

.content-3-6 .feature-box p {
    line-height: 25px;
    color: #ffffff;
    opacity: 0.5;
}.content-3-6 .feature-box h3 {
    padding: 15px 0px 25px;
    color: #060505;
    font-weight:500
}
.content-3-6 .feature-box a {
.content-3-6 .feature-box a {
    padding: 15px 0px 0px;
    color: #ffffff;
    font-weight:500
}

.content-3-6 .feature-box a.btn{
   margin-left: 100px;
}


.content-3-6 .feature-box, .content-3-6 .feature-box:hover, .content-3-6 .feature-icon, .content-3-6 .feature-box:hover .feature-icon,.content-3-6 .feature-box.pg-state-hover,.content-3-6 .feature-box.pg-state-hover,.content-3-6 .feature-box.pg-state-hover .feature-icon {
    transition: all 0.4s ease-in 0s;
    -moz-transition: all 0.4s ease-in 0s;
    -webkit-transition: all 0.4s ease-in 0s;
    -o-transition: all 0.4s ease-in 0s;
    -ms-transition: all 0.4s ease-in 0s;
}










}.article h3 {
    margin-bottom:8px;
     margin-top:40px;
}